Source: ums
Section: admin
Priority: extra
Maintainer: Ingo Oeser <nightlyone@googlemail.com>
Build-Depends: debhelper (>= 8.0.0), golang-go
Standards-Version: 3.9.2
Homepage: https://github.com/nightlyone/ums
Vcs-Git: git://github.com/nightlyone/ums.git

Package: ums
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, nagios-plugins-common
Recommends: nagios-plugins
Description: Tools for handling UMS mail API responses.
 Tools for handling UMS mail API responses.
 Includes check_ums, which is a nagios plugin
